body{
    margin: 0;
    height: 10000px;
}
.container{
    margin:0 auto;
    width:100%;
    padding: 0 15px;
}
a{
    text-decoration: none;
}
header{
    height:65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    position:fixed;
    top:0;
    z-index: 10;
}
.header-left{
    float: left;
    box-shadow:5px 0 rgb(134, 198, 228);
}
.header-left a{
    color:black;
    opacity:0.7;
    font-size: 25px;
    background-color: aqua;
    display: inline-block;
    padding:30px 20px;
    transition: all 0.2s;
    height:5px;
    line-height: 5px;
    position: relative;
}
.header-left a:hover{
    background-color: aquamarine;
    opacity: 1;
}
.header-left a:active{
    background-color: rgb(112, 112, 214);
    box-shadow: none;
    left:5px;
}
.header-right{
    float: right;
}
.header-right a{
    color:rgb(63, 61, 128);
    opacity:0.7;
    font-size: 35px;
    background-color: rgb(18, 143, 112);
    display:inline-box;
    transition: all 0.3s;
    float:right;
    margin-right: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px 10px;
    box-shadow: 3px 4px rgb(24, 85, 51);
    cursor: wait;
}
.header-right a:hover{
    opacity: 1;
}
.header-right a:active{
    background-color: rgb(89, 209, 99);
    box-shadow:none;
    position: relative;
    top: 4px;
    left: 3px;
}
.container1{
    height: 400pxpx;
    background-size: cover;
    background-image: url(https://prog-8.com/images/html/advanced/top_en.png);
    text-align:center;
    line-height: 400px; 
    position: absolute;
    top:65px;
    left:0;
    width: 100%;
}
h1{
    color:white;
    letter-spacing: 5px;
    font-size:70px;
}
